.o-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#28293D;
    width: 100vw;
    height: 5rem;
    box-shadow: 10px 10px gray;
}
.o-btn-container{
    display: flex;
    flex-direction: row;
    margin: 0 5rem 0 1rem;
}
.o-img-container{
    margin: 0 1rem 0 5rem;
}
.o-btnNav{

    background-color:#28293D ;
    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}

@media only screen and (max-width: 546px) {
    .o-btn-container{
        display: flex;
        flex-direction: row;
        margin: 0 1rem 0 1rem;
    }
    .o-img-container{
        margin: 0 1rem 0 1rem;
    }

    .o-btnNav{

       
        font-size:8px;
    
    }

  }