
.o-btn{
    width: 6rem;
    height: 3rem;
    margin: 0 1rem 0 1rem;
    color: white;
    background: black;
    border-color: white;
    
    border-radius: 6px;
    font-weight: 600;
}

.o-btn:hover{
    background: gray;
    border-color: rgb(167, 167, 167);
}
.o-btn:active {
    background-color: rgb(179, 179, 179);
    color: black;
    
  }

  @media only screen and (max-width: 476px) {
    .o-btn{
        width: 4rem;
        height: 2rem;
        font-size: 11px;
        margin: 0 2px 0 2px;
    }

  }