.o-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    background: #F5F5F7;
    border-radius: 8px;
    width: 75%;
    height: 15%;
    padding-right: 2%;
    box-shadow: 3px 3px 20px rgb(218, 218, 218);
    overflow: hidden;
}

.o-img2{
    border-radius: 16px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    width:15%;
    height: auto;
    
}
.o-incard2{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
   
}
.o-incard3{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    align-items: center;

}


.o-h3c{
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
.o-pc{
        font-size: 0.8vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }