.o-btnprof{
    width: 10vw;
    height: 5vh;
    background: #6690FF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2vw;
   
}

.o-btnprof :hover{
    color: black;
    background: blanchedalmond;
}


@media only screen and (max-width: 768px) {

    .o-btnprof{
        width: 18vw;
        height: 4vh;
        font-size: 2vw;
    }
}


@media only screen and (max-width: 375px) {

    .o-btnprof{
        width: 30vw;
        height: 6vh;
        font-size: 3vw;
    }

}